	*{
				margin: 0;
				padding: 0;
			}
			ul,li{
				list-style: none;
			}
			.chat{
				margin-top: 10px;
				margin-left: calc( 50% - 200px );
				width: 400px;
				height: 600px;
				border: 1px solid gray;
			}
			.chat_title{
				height: 40px;
				border: 1px solid gray;
			}	
			.chat_content{
				height: 400px;
				border: 1px solid gray;
				overflow-y: scroll;
			}
			.chat_info{
				height: 16px;
				border: 1px solid gray;
			}
			.chat_info .chat_tool{
				height: 20px;
			}	
			
			.chat_info .chat_input textarea{
				height: 100px;
				width: 100%;
				word-break: break-all;
				word-wrap: break-word;
			}
			.chat_info .send{
				position: relative;
				height: 20px;
				width: 100%;
			}

		    .chat_info .send button{
		    	position: absolute;
		    	background-color: blue;
		    	right: 0;
		    	text-align: center;
		    	color: white;
		    	padding: 4px 8px;	
		    }
			.chat_content .teacher_msg{line-height: 30px;height: 30px;color: #f40;padding-right: 80px;text-align: left;}
	        .chat_content .student_msg{line-height: 30px;height: 30px;color: #000;padding-left: 80px;text-align: right;}
